* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

ul li {
  list-style: none;
}

.to-do-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(190, 180, 180);
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
  width: 40%;
  min-height: 100px;
}

.holder {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}

.add-form {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.add-form input {
  font-style: italic;
  width: 100%;
  border: none;
}

.add-form input:focus {
  outline: none;
  font-style: normal;
}

.submit-button {
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

.line {
  width: 100%;
  border-top: solid 1px rgb(221, 207, 207);
}

.user-task{
  border: none;
  outline: none;
}

.complete {
  width: 100%;
  background-color: rgb(221, 207, 207);
  border: none;
  height: 50px;
}

.todo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px;
}

.checkbox-description-container {
  display: flex;
}

.checkbox-description-container p {
  margin-left: 5px;
}

.edit-remove i {
  position: relative;
}
.edit-remove ul {
  background-color: white;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    padding: 4px 0;
    z-index: 6;
    margin-left: -100px;
    margin-top: -30px;
    position: absolute;
    transform: scale(0);
    transform-origin: top right;
    transition:  0.3s ease-in all;
}

.edit-remove:hover ul {
  transform: scale(1);
}

.edit-remove li {
  padding: 5px 16px;
  display: flex;
  justify-content: baseline;
}

.edit-remove li:hover {
  background-color: rgb(159, 156, 156);
}

.edit-remove ul li span{
  padding-right: 4px;
}
